@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --background-color: #efefef;
  --link-color: rgb(96, 165, 250);
  --text-color: #424242;
}
[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
h1 {
    color: var(--text-color);
}
a {
    color: var(--link-color);
}

@media (prefers-color-scheme: light) {
    body {
        background: #161625;
        color: #efefef;
    }
}
@media (light-level: dim) {
  :root {
    --text-color: #EFEFEF;
    --background-color: #161625;
  }
}*/
body {
    font-family: "Noto Sans", sans-serif;
}
#maincontain {
  box-shadow: 0px 2px 2px hsl(220deg 60% 50% / 0.2),
              0px 4px 4px hsl(220deg 60% 50% / 0.2), 
              0px 8px 8px hsl(220deg 60% 50% / 0.2),
              0px 16px 16px hsl(220deg 60% 50% / 0.2),
              0px 32px 32px hsl(220deg 60% 50% / 0.2);
    margin: 0 auto 2em auto;
    /* max-width: 768px; */
    padding: 1em;
}
#icons svg {
    @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-125;
}

@media screen and (max-width: 640px) { .mediaQuery::after { content: " max-width: 640px " ; } }
@media screen and (min-width: 641px) and (max-width: 768px) { .mediaQuery::after { content: " min-width: 641px and max-width: 768px " ; } }
@media screen and (min-width: 769px) { .mediaQuery::after { content: " min-width: 769px " ; } }
@media screen and (min-width: 1024px) { .mediaQuery::after { content: " min-width: 1024px " ; } }

@media screen and (max-width: 769px) {
    body {
        color: #333;
    }
    section {
        border-bottom: 2px solid hsl(225, 73%, 65%);;
    }
    a.logo h1::before {
        content: url("icons8-home-30-1.png");
    }
    a.logo h1::after {
        content: "   J. J. Aleman";
    }
    #navigation nav a {
        border: 1px solid #333333;
        border-radius: 0.3em;
        color: #333;
        padding: 0.4em;
    }
    #navigation nav a:hover {
        background: hsl(225, 73%, 65%);
        color: #000;
        box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.333),
                    2px 4px 4px hsl(220deg 60% 50% / 0.333),
                    3px 6px 6px hsl(220deg 60% 50% / 0.333);
    }
    .selfieicon::after {
        content: url("icons8-user-80.png")
    }
    .selfiepic {
        display: none;
    }
    #contact form {
        border: 1px solid #333;
        margin: 0 auto;
        padding: 1em 0;
        width: 500px;
        max-width: 100%;
    }
    #contact form label, #contact form button {
        display: block;
    }
    #contact form input, #contact form textarea {
        border: 1px solid #333;
        margin-bottom: 1em;
        padding: 0.5em;
        max-width: 100%;
        width: 80%;
    }
    #contact form button {
        border: 1px solid #333333;
        border-radius: 0.3em;
        color: #333;
        margin: 0.75em auto;
        padding: 0.4em;
        text-align: center;
    }
    #contact form button:hover {
        background: hsl(225, 73%, 65%);
        color: #000;
        box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.333),
                    2px 4px 4px hsl(220deg 60% 50% / 0.333),
                    3px 6px 6px hsl(220deg 60% 50% / 0.333);
    }

}

@media screen and (min-width: 769px) {
    body {
        color: #5b5b5b;
        font-size: 1.1em;
    }
    section {
        border-bottom: 2px solid hsl(130, 73%, 65%);;
    }
    a.logo h1::before {
        content: url("icons8-home-30-3.png");
    }
    a.logo h1::after {
        content: "   Mr. Jaime J. Aleman";
    }
    #navigation nav a {
        background: hsl(130, 73%, 65%);
        border: 1px solid #efefef;
        border-radius: 0.5em;
        color: #5b5b5b;
        margin: 0 0.5em;
        padding: 0.55em;
        

    }
    #navigation nav a:hover {
        background: hsl(130, 73%, 40%);
        box-shadow: 1px 2px 2px hsl(130deg 60% 50% / 0.333),
                    2px 4px 4px hsl(130deg 60% 50% / 0.333),
                    3px 6px 6px hsl(130deg 60% 50% / 0.333);
        color: #333333;
    }
    .selfiepic {
        border-radius: 50%;
    }
    #contact form {
        border: 1px solid #333;
        margin: 0 auto;
        padding: 1em 0;
        width: 700px;
        max-width: 100%;
    }
    #contact form label, #contact form button {
        display: block;
    }
    #contact form input, #contact form textarea {
        border: 1px solid #333;
        margin-bottom: 1em;
        padding: 0.5em;
        max-width: 100%;
        width: 80%;
    }
    #contact form button {
        border: 1px solid #333333;
        border-radius: 0.3em;
        color: #333;
        margin: 0.75em auto;
        padding: 0.4em;
        text-align: center;
    }
    #contact form button {
        background: hsl(130, 73%, 65%);
        columns: #5b5b5b;

    }
    #contact form button:hover {
        background: hsl(130, 73%, 40%);
        color: #333;
        box-shadow: 1px 2px 2px hsl(130deg 60% 50% / 0.333),
                    2px 4px 4px hsl(130deg 60% 50% / 0.333),
                    3px 6px 6px hsl(130deg 60% 50% / 0.333);
    }

}

@media screen and (min-width: 1024px) {
    .mediaQuery::after { content: " min-width: 1024px " ; }
    body {
        font-size: 1.5em;
        margin: 0 auto 2em auto;
        max-width: 1200px;

    }

}
