@tailwind base;
@tailwind components;
@tailwind utilities;

/*
:root {
  --background-color: #efefef;
  --link-color: rgb(96, 165, 250);
  --text-color: #424242;
}
[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
}
h1 {
    color: var(--text-color);
}
a {
    color: var(--link-color);
}

@media (prefers-color-scheme: light) {
    body {
        background: #161625;
        color: #efefef;
    }
}
@media (light-level: dim) {
  :root {
    --text-color: #EFEFEF;
    --background-color: #161625;
  }
}*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans", sans-serif;
}
a.logo svg, a.logo svg * {
    height: 50px;
    width: 50px;
}
a.logo h1 {
    font-family: monospace;
    padding-left: 0.5em;
}
a.logo svg:hover, a.logo:hover {
    color: hsl(225, 73%, 65%);
}
#navigation nav a {
    background: hsl(225, 100%, 95%);
    border: 1px solid #333333;
    border-radius: 0.3em;
    color: #333;
    padding: 0.4em 0.6em;
}
#navigation nav a:hover {
    background: hsl(225, 100%, 75%);
    color: #000;
    box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.333),
        2px 4px 4px hsl(220deg 60% 50% / 0.333),
        3px 6px 6px hsl(220deg 60% 50% / 0.333);
}
section {
    border-bottom: 2px solid hsl(225, 73%, 65%);
}
section:last-of-type {
    border-bottom: none;
}
.selfiepic {
    border: 1px solid #efefef;
    border-radius: 0.5em;
    box-shadow: 0px 0px 2px hsl(220deg 60% 50% / 0.2),
        0px 0px 4px hsl(220deg 60% 50% / 0.2),
        0px 0px 8px hsl(220deg 60% 50% / 0.2),
        0px 0px 16px hsl(220deg 60% 50% / 0.2),
        0px 0px 32px hsl(220deg 60% 50% / 0.2);
    transform: rotate(-2deg);
}
#maincontain {
    box-shadow: 0px 2px 2px hsl(220deg 60% 50% / 0.2),
        0px 4px 4px hsl(220deg 60% 50% / 0.2),
        0px 8px 8px hsl(220deg 60% 50% / 0.2),
        0px 16px 16px hsl(220deg 60% 50% / 0.2),
        0px 32px 32px hsl(220deg 60% 50% / 0.2);
    /* margin: 0 auto 2em auto; */
    /* max-width: 768px; */
    padding: 1em;
}
#techstack svg {
    @apply transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-125;
}

@media screen and (max-width: 769px) {
    a.logo svg, a.logo svg * {
        height: 30px;
        width: 30px;
    }



    #contact form {
        border: 1px solid #333;
        margin: 0 auto;
        padding: 1em 0;
        width: 500px;
        max-width: 100%;
    }
    #contact form label,
    #contact form button {
        display: block;
    }
    #contact form input,
    #contact form textarea {
        border: 1px solid #333;
        margin-bottom: 1em;
        padding: 0.5em;
        max-width: 100%;
        width: 80%;
    }
    #contact form button {
        border: 1px solid #333333;
        border-radius: 0.3em;
        color: #333;
        margin: 0.75em auto;
        padding: 0.4em;
        text-align: center;
    }
    #contact form button:hover {
        background: hsl(225, 100%, 75%);
        color: #000;
        box-shadow: 1px 2px 2px hsl(220deg 60% 50% / 0.333),
            2px 4px 4px hsl(220deg 60% 50% / 0.333),
            3px 6px 6px hsl(220deg 60% 50% / 0.333);
    }
}

@media screen and (min-width: 769px) {
    body {
        font-size: 1.1em;
    }
    a.logo svg, a.logo svg * {
        height: 40px;
        width: 40px;
    }



    #contact form {
        border: 1px solid #333;
        margin: 0 auto;
        padding: 1em 0;
        width: 700px;
        max-width: 100%;
    }
    #contact form label,
    #contact form button {
        display: block;
    }
    #contact form input,
    #contact form textarea {
        border: 1px solid #333;
        margin-bottom: 1em;
        padding: 0.5em;
        max-width: 100%;
        width: 80%;
    }
    #contact form button {
        border: 1px solid #333333;
        border-radius: 0.3em;
        color: #333;
        margin: 0.75em auto;
        padding: 0.4em;
        text-align: center;
    }
    #contact form button {
        background: hsl(130, 73%, 65%);
        columns: #5b5b5b;
    }
    #contact form button:hover {
        background: hsl(130, 73%, 40%);
        color: #333;
        box-shadow: 1px 2px 2px hsl(130deg 60% 50% / 0.333),
            2px 4px 4px hsl(130deg 60% 50% / 0.333),
            3px 6px 6px hsl(130deg 60% 50% / 0.333);
    }
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.5em;
        margin: 0 auto 2em auto;
        max-width: 1200px;
    }
    a.logo svg, a.logo svg * {
        height: 50px;
        width: 50px;
    }
}
